<div class="Content">
  <p style="color: green"><%= notice %></p>

  <div class="M_HeadLinks">
    <%= link_to "<- В коллекции", collections_path %>
    <%= link_to 'Edit Collection', edit_collection_path(@collection), class: 'btn btn-primary' %>
    <%= button_to "Destroy this collection", @collection, method: :delete %>
  </div>
<div class="O_Collection">
  <h1><%= @collection.title %></h1>
  <p><%= @collection.body %></p>
</div>
  <h2>Крутые штуки:</h2>

  <div class="S_Posts">
    <% @collection.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  </div>
</div>