<%= link_to profile_path(profile),class: "O_Profile", id: dom_id(profile) do %>
  <p>
    <strong>user_id: <%= profile.user_id %></strong>
  </p>
  <p>
    <strong>Name: <%= profile.name %></strong>
  </p>
  <p>
    <strong>Bio: <%= profile.bio %> </strong>
  </p>
  <p>
    <strong>Placed: <%= profile.placed %></strong>
  </p>
  <%= image_tag profile.avatar_url, width: 120 %>
<% end %>