<%= form_with(model: [:admin, post]) do |f| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :author, style: "display: block" %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :title, style: "display: block" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body, style: "display: block" %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :category, style: "display: block" %>
    <%= f.text_area :category_list %>
  </div>
  <br>
  <hr>
  <h3>Опциональные поля</h3>
  <br>
  <div>
    <%= f.label :city, style: "display: block" %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :amount, style: "display: block" %>
    <%= f.text_field :amount %>
  </div>
  <div>
    <%= f.label :price, style: "display: block" %>
    <%= f.text_field :price %>
  </div>
  <hr>
  <br>
  <hr>
  <%# Данный об экспозиции %>
  <h3>Данные экспозиции</h3>
  <%= f.fields_for :displays do |display_form| %>
    <div class="display-fields">
      <div>
        <%= display_form.label :name, "Название" %>
        <%= display_form.text_field :name, class: "A_Form" %>
      </div>
      <div>
        <%= display_form.label :year, "Год" %>
        <%= display_form.text_field :year, class: "A_Form" %>
      </div>
      <div>
        <%= display_form.label :display_type, "Тип экспозиции" %>
        <%= display_form.select :display_type, ["Выставка", "Арт-маркет", "Галерея", "Цифровая экспозиция"], {}, class: "A_Form" %>
      </div>
      <div>
        <%= display_form.label :link, "Ссылка" %>
        <%= display_form.text_field :link, class: "A_Form" %>
      </div>
    </div>
  <% end %>
  <hr>
  <%# Теги %>
  <div>
    <label for="">Tags</label>
    <%= f.text_field :tag_list %>
  </div>
  <%# Картинка %>
  <div>
    <%= f.label :post_image, style: "display: block" %>
    <%= f.file_field :post_image %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>
