<%= form_with(model: [:admin, @collection]) do |form| %>
  
<% if @collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>
      <ul>
        <% @collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :posts, "Select Posts", style: "display: block" %>
    <%= form.collection_check_boxes :post_ids, current_user.posts.order(:title), :id, :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>