<%= link_to post_path(post), class: "A_PostLink", id: dom_id(post) do %>
  <div class="O_Post">
    <div class="C_Tags">
      <% post.tags.each do |tag| %>
        <span class="A_Tag"><%= tag.name %></span>
      <% end %>
    </div>
    <%= image_tag post.post_image.url, class:"Q_PostImage" %>
    <div class="A_Category" style="margin-top: 1rem;">
      <% post.categories.each do |tag| %>
        <span class="A_Tag"><%= tag.name %></span>
      <% end %>
    </div>
    <div class="M_SubText">
      <h3><%= post.title %></h3>
      <p><%= post.user.profile.name %></p>
    </div>
  </div>
<% end %>
