<%= link_to post_path(post), class: "O_Post", id: dom_id(post) do %>
  <div class="Clip">
    <%= image_tag post.post_image.url %>
  </div>
  <div class="M_PostDescription">
    <h1><%= post.title %></h1>
    <p class="C_Tags">
      <% post.tags.each do |tag| %>
        <%= link_to tag.name, tagged_posts_path(tag.name) %>
      <% end %>
    </p>
    <div class="W_UserAuthor">
      <h3 class="A_Email"><%= post.user.email %></h3>
      <h3 class="A_Author">Автор: <%= post.author %></h3>
    </div>
  </div>
<% end %>
