<% content_for :title, "Posts" %>
<p style="color: green"><%= notice %></p>
<div class="S_FiltersPosts">
  <div class="W_TypesOfContent">
    <%= link_to "Работы", posts_url, class: "A_TypeOfContent" %>
    <%= link_to "Коллекции",collections_path, class: "A_TypeOfContent" %>
  </div>
  <div class="C_Categoires">
    <%= link_to "Все", posts_path, class:"A_Tag" %>
    <% Post.tag_counts_on(:categories).each do |tag| %>
      <%= link_to tag.name, tagged_posts_path(tag.name), class:"A_Tag" %>
    <% end %>
  </div>
  <div class="C_Tags Navigation">
    <% Post.tag_counts_on(:tags).each do |tag| %>
      <%= link_to tag.name, tagged_posts_path(tag.name), class:"A_Tag" %>
    <% end %>
  </div>
</div>
<%# Render %>
<div class="C_AllPosts">
  <% @posts.each do |post| %>
    <div class="O_Post"><%= render 'posts/post', post: post %></div>
  <% end %>
</div>
