<div class="Content">
<p style="color: green"><%= notice %></p>

  <div class="M_HeadLinks">
      <% if params[:collection_id].present? %>
        <%= link_to "<- Вернуться в коллекцию", collection_path(params[:collection_id]) %>
      <% else %>
        <%= link_to "<- К постам", posts_path %>
      <% end %>


    <div class="M_Options">

    <% if can?(:manage, @post) %>
      <%= link_to "Edit this post", edit_admin_post_path(@post) %> |
      <%= button_to "Destroy this post", admin_post_path(@post), method: :delete %>
    <% else %>
      <p>You do not have permission to edit this post.</p>
    <% end %>

    </div>

  </div>
<div class="W_Post" style="display:flex">
  <div class="S_Post">
    <%= render @post %>

    <p>
      <strong>Автор:</strong>
      <%= @post.author %>
    </p>
  </div>
  <div class="S_Comments">
  <h2>Добавить коммент</h2>
    <%= render "admin/comments/form" %>

    <h2>Комменты</h2>

    <% @post.comments.each do |comment| %>
     <%= render 'admin/comments/comment', comment: comment %>

    <% end %>
  </div>
</div>
</div>