<div class="Content">
<p style="color: green"><%= notice %></p>

  <div class="M_HeadLinks">
    <%= link_to "<- К постам", admin_posts_path %>
    <div class="M_Options">
      <% if current_user && current_user.admin?%>
      <%= link_to "Edit this post", edit_admin_post_path(@post) %> |
      <%= button_to "Destroy this post", admin_posts_path(@post), method: :delete %>
      <% end %>
    </div>

  </div>
<div class="W_Post" style="display:flex">
  <div class="S_Post">
    <%= render @post %>

    <p>
      <strong>Автор:</strong>
      <%= @post.author %>
    </p>
  </div>
  <div class="S_Comments">
  <h2>Добавить коммент</h2>
    <%= render "admin/comments/form" %>

    <h2>Комменты</h2>

    <% @post.comments.each do |comment| %>
     <%= render 'admin/comments/comment', comment: comment %>

    <% end %>
  </div>
</div>
</div>