<div class="Content">
  <p style="color: green"><%= notice %></p>
  <div class="M_HeadLinks">
    <% if params[:collection_id].present? %>
      <%= link_to "<- Вернуться в коллекцию", collection_path(params[:collection_id]) %>
    <% else %>
      <%= link_to "<- К постам", posts_path %>
    <% end %>
    <div class="M_Options">
      <div class="M_ActionButton">
        <% if can?(:manage, @post) %>
          <%= link_to "Изменить", edit_admin_post_path(@post), class: 'A_Edit' %>
          <%= button_to "⌦Удалить пост", admin_post_path(@post), method: :delete %>
        <% else %>
          <p>Авторизируйтесь, чтобы редактировать</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="W_Post">
    <div class="S_Post">
      <%= @post.tag_list %>
      <h1 class="A_PostTitle"><%= @post.title %></h1>
      <div class="M_PostCreators">
        <h3>Выложил <%= @post.user.email %> </h3>
        <h3>Автор:<%= @post.author %></h3>
      </div>
      <p><%= @post.body%></p>
      <%= image_tag @post.post_image.url if @post.post_image.present? %>
    </div>
    <div class="S_Comments">
      <h1>Комментарии</h1>
      <div class="C_Comments" >
        <% @post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
        <%# ФОРМА %>
        <div class="SendComment">
          <%= render "comments/form" %>
        </div>
      </div>
    </div>
  </div>
</div>