<header class="S_Header">
  <nav class="C_Links">
      <%= link_to "Главная", root_path %>
      <%= link_to "О медиа", about_path %>
      <%= link_to "Посты", posts_path %>
      <%= link_to "Коллекции", collections_path %>
  </nav>
  <nav class="C_Links">
    <% if user_signed_in? %>
      <%# <p>РЕСПЕКТ</p> %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %>
    <% else %>
      <%# <p>ДИЗРЕСПЕКТ</p> %>
    <% end %>
      <%= link_to "Войти", new_user_session_path %>
      <%= link_to "Регистрация", new_user_registration_path %>
    </nav>
</header>
